{% extends 'base.html.twig' %}

{% block title %}Hello RestauranteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    a{
        display:inline;
    }
     button{
        padding:5px;
        border-radius:5px;
        border:none;
        color:white;
    }
</style>

<div class="example-wrapper">
    <h1> restaurante {{restaurante.getId()}}! ✅</h1>

        <strong>    {{restaurante.getNombre()}}    </strong> <br>
        <div>
            <a style="margin-left:100%;" href={{path('actualizar_restaurante_get' , {id:restaurante.getID() } )}}><button style="background-color:#02c39a;  " >Actualizar restaurante</button></a>
            <a style="margin-left:100% ;" href={{path('crear_visitas_formulario' , {id:restaurante.getID() } )}}><button style="background-color:#ffbe0b;  " >Añadir visita</button></a>
            
            
        </div>
        
                <ul>
                
                        <li> direccion:  {{restaurante.getDireccion()}} <br> </li>
                         <li>Telefono:  {{restaurante.getTelefono()}} <br></li>
                        <li> Tipo de Cocina:  {{restaurante.getTipoCocina()}} <br></li>

                       
                        {%if restaurante.getVisitas() is not empty %}
                        <li> Visitas:<br></li>
                        {% for visita in restaurante.getVisitas() %}
                           <p> 
                            Valoracion:{{visita.valoracion()}}<br>
                            Comentario:{{visita.comentario()}}<br>
                            </p> 
                            <a  href={{path('eleminar_visita_get' , {id:visita.ID() } )}}><button style="background-color:red;  "  >eliminar</button></a>
                            <a  href={{path('actualizar_visita_get' , {id:visita.ID() } )}}><button style="background-color:#17c3b2;  "  >Modificar Visita</button></a>
                            
                            <hr>
                        {% endfor %}

                        {% endif %}
                </ul>        
                        
                        
                         
                
                

                <a href={{ path('listado_restaurante') }}> Volver</a>
              
            
      
</div>
{% endblock %}
